<h1>USER LIST</h1>
<table class="table table-hover" ng-show="users.length">
	<tr>
		<td>USERNAME</td>	
		<td>AGE</td>	
		<td>E-MAIL</td>	
		<td>#</td>
	</tr>
	<tr ng-repeat="user in users">
		<td>{{user.username}}</td>
		<td>{{user.age}}</td>
		<td>{{user.email}}</td>
		<td>
			<a href="#/user-update/{{user._id}}">Modify</a>
			<a href="javascript:void(0);" ng-click="deleteUser($index)">Delete</a>
		</td>
	</tr>
</table>
<div class="alert alert-info" ng-show="!users.length">
	No User....
</div>

<div>
	<a class="btn btn-success" href="#user-add">ADD USER</a>
</div>
