<form name="form" class="form-horizontal" role="form" ng-submit="doUpdate()" novalidate>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">USER NAME:</label>
		<div class="col-sm-4">
			<input name="username" ng-required="true" ng-model="user.username" 
				value="user.username"
				ng-minlength="5" ng-maxlength="50"
				type="text" class="form-control" placeholder="Please input username"/>
		</div>
	</div>
	<!--
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">PASSWORD:</label>
		<div class="col-sm-4">
			<input name="password" ng-required="true" 
				ng-model="user.password" type="password" 
				ng-minlength="5" ng-maxlength="50"
				value="user.password"
				class="form-control" placeholder="Please input password"/>
		</div>
	</div>
	-->
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">AGE:</label>
		<div class="col-sm-4">
			<input name="age" ng-required="true" min="18" max="100" 
				value="user.age"
				ng-model="user.age" type="number" class="form-control" 
				placeholder="Please input the user's age" value="20"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">E-MAIL:</label>
		<div class="col-sm-4">
			<input name="email" ng-model="user.email" 
				type="email" class="form-control" 
				value="user.email"
				placeholder="Please input the user's email address"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-2">
			<input type="submit" ng-disabled="form.$invalid || isUnchanged(user)" class="btn btn-success" value="Submit"/>
			<input type="button" ng-click="reset()" ng-disabled="isUnchanged(user)" class="btn" value="Reset"/>
			<input type="button" class="btn btn-warning" value="Back2List" ng-click="doBack()"/>
		</div>
	</div>

</form>
