<form name="form" class="form-horizontal" role="form" ng-submit="doSave()" novalidate>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">USER NAME:</label>
		<div class="col-sm-4">
			<input name="username" ng-required="true" ng-model="user.username" 
				ng-minlength="2" ng-maxlength="30" autocomplte="off"
				type="text" class="form-control" placeholder="Please input username"/>
		</div>
		<div class="col-sm-6">
			<span class="label label-warning" ng-show="form.username.$pristine && form.username.$error.required">
				PLEASE INPUT USERNAME.	
			</span>
			<span class="label label-danger" ng-show="form.username.$dirty && form.username.$invalid">
				PLEASE INPUT 2~30 CHARACTERS FOR THE USERNAME.	
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">PASSWORD:</label>
		<div class="col-sm-4">
			<input name="password" ng-required="true" 
				ng-model="user.password" type="password" 
				ng-minlength="5" ng-maxlength="30"
				autocomplete="off"
				class="form-control" placeholder="Please input password"/>
		</div>
		<div class="col-sm-6">
			<span class="label label-warning" ng-show="form.password.$pristine && form.password.$error.required">
				PLEASE INPUT PASSWORD.	
			</span>
			<span class="label label-danger" ng-show="form.password.$dirty && form.password.$invalid">
				PLEASE INPUT 5~30 CHARACTERS FOR THE PASSWORD.	
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">AGE:</label>
		<div class="col-sm-4">
			<input name="age" ng-required="true" min="18" max="100" 
				ng-model="user.age" type="number" class="form-control" 
				my-integer
				placeholder="Please input the user's age" value="20"/>
		</div>
		<div class="col-sm-6">
			<span class="label label-warning" ng-show="form.age.$pristine && form.age.$error.required">
				PLEASE INPUT USER'S AGE.	
			</span>
			<span class="label label-danger" ng-show="form.age.$error.integer">
				PLEASE INPUT AN INTEGER NUMBER 
			</span>
			<span class="label label-warning" ng-show="form.age.$error.max || form.age.$error.min">
				USER'S AGE MUST BETWEEN 18 ~ 100	
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">E-MAIL:</label>
		<div class="col-sm-4">
			<input name="email" ng-model="user.email" type="email" class="form-control" placeholder="Please input the user's email address"/>
		</div>
		<div class="col-sm-6">
			<span class="label label-warning" ng-show="form.email.$error.email">
				PLEASE INPUT CORRECT EMAIL ADDRESS.
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-2">
			<input type="submit" ng-disabled="form.$invalid" class="btn btn-success" value="Submit"/>
			<input type="reset" ng-disabled="form.$pristine" class="btn btn-warning" value="Reset"/>
			<!--
			<input type="button" class="btn btn-warning" value="Back2List" ng-click="doBack()"/>
			-->
			<a href="#/user-list" class="btn btn-info">BACK</a>
		</div>
	</div>

</form>
